.question-container {
    color: #ffffff;
}

.question-container *::selection {
    background: none;
}

.question-container .question {
    width: 100%;
    box-sizing: border-box;

    border: 2px solid #ffffff;
    border-radius: 6px;
    padding: 1.5em 2em;

    margin-bottom: 12px;

    text-align: center;
}

.question-container .choice {
    cursor: pointer;
}

.question-container .choice:hover {
    background-color: #ffffff11;
}

.question-container .choice:active {
    color: #000;
    background-color: #ffffff;
}

.question-container .choice.choice-correct {
    background-color: #008000;
}

.question-container .choice.choice-wrong {
    background-color: #a00000;
}

.question-container .choices {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.question-container .choice-container {
    width: 50%;
    box-sizing: border-box;
    padding: 8px 8px;
}

/******************* Specific for multiple choice question *******************/
.multiple-choice-question .choice {
    width: 100%;
    box-sizing: border-box;

    border: 2px solid #ffffff;
    border-radius: 4px;
    padding: 1.5em 2em;
}

/* The letter of each choice */
.multiple-choice-question .choice::before {
    color: #888;
    margin-right: 0.75em;
}

.multiple-choice-question .choice.choice-0::before {
    content: 'A.';
}

.multiple-choice-question .choice.choice-1::before {
    content: 'B.';
}

.multiple-choice-question .choice.choice-2::before {
    content: 'C.';
}

.multiple-choice-question .choice.choice-3::before {
    content: 'D.';
}


/********************** Specific for position question **********************/
.planets {
    display: grid;

    grid-template-columns: repeat(8, 1fr);

    margin-top: 2em;
}

.planets .numeral {
    text-align: center;
    font-size: 2em;
    font-weight: 600;

    cursor: pointer;
}

.planet {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 50%;
    border: 4px solid #ffffff;
}

.planets .planet.choice-correct {
    border-color: #008000;
    background-color: #008000aa;
}

.planets .numeral.choice-correct {
    color: #008000;
}

.planets .planet.choice-wrong {
    border-color: #a00000;
    background-color: #a00000aa;
}

.planets .numeral.choice-wrong {
    color: #a00000;
}

/********************** Specific for Picture Questions **********************/
.pictures-question .choice-container {
    width: 25%;

    display: flex;
    flex-direction: column;
}

.pictures-question .image-container {
    margin: 0 25%;

    position: relative;
}

@media screen and (max-width: 900px) {
    .pictures-question .image-container {
        margin: 0 4%;
    }
}

.pictures-question .image-container img {
    width: 100%;
}

.pictures-question .image-container .background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 50%;
}

.pictures-question .caption {
    padding: 24px 0;
}

.pictures-question .choice-correct img,
.pictures-question .choice-wrong img {
    opacity: 0.3;
}

.pictures-question .choice-correct .background {
    background-color: #008000;
}

.pictures-question .choice-wrong .background {
    background-color: #a00000;
}